<div class="container mb2 clearfix">
	<div class="sm-flex center nowrap mb2 h5">
		<div class="flex-auto border-bottom">
			<a href="https://hexo.io/" class="btn block muted">Hexo</a>
		</div>
		<div class="flex-auto border-bottom">
			<a href="https://zllovesuki.git.sx/essays/2016/02/hexo-theme-weightless/" class="btn block">Weightless</a> Theme
		</div>
		<div class="flex-auto border-bottom">
			Rocking <a href="http://www.basscss.com/" class="btn block">Basscss</a>
		</div>
		<div class="flex-auto border-bottom">
			<% if (config.feed) { %>
				<a href="<%- url_for(config.feed.path) %>" class="btn block muted">RSS</a>
			<% } %>
		</div>
	</div>
</div>
<script src="<%= url_for('js/geomicons.js') %>"></script>
<script type="text/javascript">
	var icons = document.querySelectorAll('[data-icon]');
	geomicons.inject(icons);
</script>
<% if (config.lunr) { %>
	<link rel="stylesheet" href="<%= url_for('css/jquery.modal.css') %>" type="text/css">
	<script type="text/javascript">
		var jQueryJS = '<%= url_for('js/jquery-2.2.0.js') %>';
		var modalJS = '<%= url_for('js/jquery.modal.js') %>';
		var lunrJS = '<%= url_for('js/lunr.js') %>';
		var lunrAsset = '<%= url_for(config.lunr.path + 'all.json') %>';
	</script>
	<script src="<%= url_for('js/fn.js') %>" type="text/javascript"></script>
<% } %>
<%- partial('analytics') %>
